book-repo
book-working
book-cache
output
public/tmp
public/stylesheets/*.css
public/processing-status.html
toolchain-docbook/style/docbook-xsl-ns
toolchain-docbook/output
toolchain-docbook/book.*
*.tar.gz
*.zip
*.jar

.bundle
.sass-cache
config/database.yml
doc/app
db/*.db
log
pkg
tmp

*_packaged.js
*_packaged.css
*~
.#*
#*#
.DS_Store
.svn
TAGS
*.tmproj
