book-repo
book-working
book-cache
toolchain-docbook/style/docbook-xsl-ns
toolchain-docbook/output
toolchain-docbook/book.*
*.tar.gz
*.zip
*.jar

.bundle
config/database.yml
doc/app
db/*.db
log/*.log
pkg
tmp
public/tmp
public/stylesheets/*.css

*_packaged.js
*_packaged.css
*~
.#*
#*#
.DS_Store
.svn
TAGS
*.tmproj
