* {
  margin: 0;
}

html, body {
  height: 100%;
}

    //// upper-right corner controls
.home-controls {
  float: right;
  border: 1px solid #eef;
  padding: 10px 15px;
  font-size: 12px;
}


    //// home page header
div.title {
  padding-left: 40px;
  padding-right: 15px;
  font-size: 72px;
  font-style: italic;
  color: #444;
}

div.subtitle {
  padding-left: 60px;
  font-size: 40px;
  font-style: italic;
  color: #666;
}


    //// common page footer
#app-footer {
  clear: both;
  padding-left: 15px;
}

.fine-print {
  font-size: 8px;
  color: #555;
}

#footer-wrapper {
  position: relative;
  border-top: 2px solid #eef;
  padding-top: 3px;
}

#book-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: #fff;
}


        // "sticky footer" implementation
#body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -18px;
}
#footer-wrapper, #footer-push {
  height: 13px;
}


        // toc entry layouts
div#toc {
  margin: 10px;
}
