$very-light-blue: #eef;
$dark-text-grey: #444;
$light-text-grey: #666;
$fine-print-color: #555;


* {
  margin: 0;
}

html, body {
  height: 100%;
}

    //// upper-right corner controls
.home-controls {
  float: right;
  border: 1px solid $very-light-blue;
  padding: 10px 15px;
  font-size: 12px;
}


    //// home page header
div.title {
  padding-left: 40px;
  padding-right: 15px;
  font-size: 72px;
  font-style: italic;
  color: $dark-text-grey;
}

div.subtitle {
  padding-left: 60px;
  font-size: 40px;
  font-style: italic;
  color: $light-text-grey;
}


    //// common page footer
#app-footer {
  clear: both;
  padding-left: 15px;
}

.fine-print {
  font-size: 8px;
  color: $fine-print-color;
}

#footer-wrapper {
  position: relative;
  border-top: 2px solid $very-light-blue;
  padding-top: 3px;
}

#book-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: white;
}


        // "sticky footer" implementation
#body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -18px;
}
#footer-wrapper, #footer-push {
  height: 13px;
}


        // toc entry layouts
div#toc {
  margin: 20px;
  margin-left: 35px;

  div.entry {
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;

    span.text {
      font-weight: bold;
    }
  }

  div.entry div.tool-widget {
    display: none;
  }
  div.entry:hover div.tool-widget {
    display: block;
    position: absolute;
    left: -22px;
    width: 22px;
    background-color: $very-light-blue;
    font-size: 16px;
  }

  $per-level-indent: 24px;
  div.level0 { font-style: italic;                 font-size: 20px; }
  div.level1 { margin-left: $per-level-indent;     font-size: 20px; }
  div.level2 { margin-left: $per-level-indent * 2; font-size: 18px; }
  div.level3 { margin-left: $per-level-indent * 3; font-size: 18px; }
  div.level4 { margin-left: $per-level-indent * 4; font-size: 16px; }
  div.level5 { margin-left: $per-level-indent * 5; font-size: 16px; }
  div.level6 { margin-left: $per-level-indent * 6; font-size: 14px; }
  div.level7 { margin-left: $per-level-indent * 7; font-size: 14px; }
  div.level8 { margin-left: $per-level-indent * 8; font-size: 12px; }
  div.level9 { margin-left: $per-level-indent * 9; font-size: 12px; }
  div.no-level { margin-left: 40%;                 font-size: 12px; }
}
